#{"danielschleindlsperger"
            "erikpetzold"
            "hw-cc"
            "renetalk"
            "dvdgsng"
            "F43nd1r"
            "maiksensi"
            "JonasGroeger"
            "dickerpulli"
            "devshred"
            "danielkocot"
            "feltenj"
            "danielbayerlein"
            "s7nio"
            "lukas-reining"
            "jonashackt"
            "romansey"
            "dirkheinkecc"
            "mniehoff"
            "rhoetsc"
            "denniseffing"
            "reitzig"
            "rfalke"
            "rueckemann"
            "mkresse"
            "ljouon"
            "goekhanm"
            "robaca"
            "romanigk"
            "PSanetra"}
